@font-face {
  font-family: 'iconfont';  /* project id 825055 */
  src: url('//at.alicdn.com/t/font_825055_6b733ochocv.eot');
  src: url('//at.alicdn.com/t/font_825055_6b733ochocv.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_825055_6b733ochocv.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_825055_6b733ochocv.woff') format('woff'),
  url('//at.alicdn.com/t/font_825055_6b733ochocv.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_825055_6b733ochocv.svg#iconfont') format('svg');
}