.DS_Store
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

tester
# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
dist
config/*.js
.scannerwork
coverage
test-report.xml
__snapshots__
cypress/screenshots
dist_cache
*.log
public/styles/*.css
public/locale/*.json